<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search</title>
</head>
<title>Search</title>
<body>
<div class="input-group">
    <input
            type="text"
            class="text-light form-control border-light bg-dark"
            style="opacity: 60%"
            id="movieSearchInput"
            placeholder="Enter a movie name"
            aria-label="Enter a movie name">
    <div class="input-group-append">
        <button class="btn btn-outline-light" type="button" id="movieSearch">Search</button>
    </div>
    <div id="movies"></div>
</div>
<script src="/static/js/keys.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/static/js/search.js"></script>
</body>
</html>